<div ng-controller="DeviceGroupController" layout="column">
    <div layout="column" layout-align="start center">
        <h4><a href="#/devicegroup/{{ group.id }}/">{{ group.name }}</a></h4>

        <div class="device" ng-click="toggleDeviceGroup(group);">
            <img ng-if="!group.state" static-src="img/light_off.png" />
            <img ng-if="group.state" static-src="img/light_on.png" />
        </div>
    </div>

    <div layout="row" layout-align="center center">
        <md-switch ng-model="group.state" aria-label="State" ng-change="sendDeviceGroupState(group);"></md-switch>
    </div>
</div>
