<div ng-controller="DeviceController" layout="column">
    <div layout="column" layout-align="start center">
        <h4><a href="#/device/{{ device.id }}/">{{ device.name }}</a></h4>

        <div ng-if="!device.is_dimmable" ng-click="toggleDevice(device);">
            <img ng-if="!device.state" static-src="img/light_off.png" />
            <img ng-if="device.state" static-src="img/light_on.png" />
        </div>

        <div ng-if="device.is_dimmable" class="device dimmable" ng-click="toggleDevice(device);">
            <img style="opacity: {{ device.state / 100 }};" static-src="img/light_on.png" />
        </div>
    </div>

    <div layout="row" layout-align="center center" ng-if="device.is_dimmable">
        <md-slider flex="80" ng-model="device.state" min="0" max="100" aria-label="Brightness"></md-slider>
    </div>
</div>
