<div ng-controller="DeviceGroupController"  layout="column" layout-xs="row">
    <div layout="column" layout-xs="row" layout-align="start center" flex-xs="40">
        <div flex-order-xs="2">
            <h4><a href="#/devicegroup/{{ group.id }}/">{{ group.name }}</a></h4>
        </div>

        <div flex-order-xs="1">
            <div class="device" ng-click="toggleDeviceGroup(group);">
                <div ng-if="!group.state" class="device light light-off"></div>
                <div ng-if="group.state" class="device light light-on"></div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center center" flex-xs="60">
        <div layout="row" layout-align="center center">
            <md-switch ng-model="group.state" aria-label="State" ng-change="sendDeviceGroupState(group);"></md-switch>
        </div>
    </div>
</div>
