<div ng-controller="StartpagePlacementController" layout="column" layout-xs="row">
    <div layout="column" layout-xs="row" layout-align="start center" flex-xs="40">
        <div flex-order-xs="2">
            <h4><a href="/placement/{{ placement.id }}/">{{ placement.name }}</a></h4>
        </div>

        <div flex-order-xs="1">
            <div class="device" ng-click="togglePlacement(placement);">
                <div ng-if="!placement.state" class="device light light-off"></div>
                <div ng-if="placement.state" class="device light light-on"></div>
            </div>
        </div>
    </div>

    <div layout="row" layout-align="center center" flex-xs="60">
        <md-switch ng-model="placement.state" ng-true-value="1" ng-false-value="0" aria-label="State"  ng-change="sendPlacementState(placement);"></md-switch>
    </div>
</div>
