/*
4a203b
*/
div.layout-content{
    max-width: 864px;
    margin: auto;
}

a, a:visited{
    color: #3F51B5;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

i.wi{
    font-size: 18px;
}