/*
4a203b
*/
div.layout-content{
    max-width: 864px;
    margin: auto;
}

a, a:visited{
    color: #3F51B5;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

i.wi{
    font-size: 18px;
}

a.logo{
    color: white;
}

div.floating-toolbar{
    position: fixed;
    bottom: 1px;
    z-index: 1;
    right: 1px;
}

/* Loading bar */
#loading-bar .peg, #loading-bar .bar {
    height: 7px;
}
#loading-bar .bar {
    background-color: #b5b5b5;
}
#loading-bar-spinner {
    top: 15px;
}
#loading-bar-spinner .spinner-icon {
    width: 24px;
    height: 24px;

    border-width: 7px;
    border-top-color: #b5b5b5;
    border-left-color: #b5b5b5;
}

#loading-bar .peg {
    box-shadow: #d0d0d0 1px 0 16px 1px;
}
