{% load static i18n %}

<html lang="en" ng-app="jarvis">
  <head>
    <link rel="stylesheet" href="{% static "css/angular-material.min.css" %}">
    <link rel="stylesheet" href="{% static "css/device.css" %}">
  </head>
  <body layout="column">
    <div ng-view></div>


    <script type="text/javascript" id="settings">
          var django = {
              "base_ng_template_url" : "{% static 'ng-templates' %}/",
              "base_static_url" : "{% static '' %}",
              "csrf_token" : "{{ csrf_token }}",
              "proxy_url" : {% if USE_PROXY %}"{{ PROXY_URL }}"{% else %}""{% endif %}
          };
      </script>
    <!-- Angular Material Dependencies -->
    <script src="{% static "js/angularjs/angular.min.js" %}"></script>
    <script src="{% static "js/angularjs/angular-animate.min.js" %}"></script>
    <script src="{% static "js/angularjs/angular-aria.min.js" %}"></script>
    <script src="{% static "js/angularjs/angular-route.min.js" %}"></script>

    <script src="{% static "js/lib/lodash.min.js" %}"></script>
    <script src="{% static "js/lib/restangular.min.js" %}"></script>

    <script src="{% static "js/angular-material.min.js" %}"></script>

    <script src="{% static "js/startpage.js" %}"></script>
    <script src="{% static "js/device.js" %}"></script>
    <script src="{% static "js/devicegroup.js" %}"></script>
    <script src="{% static "js/sensor.js" %}"></script>
    <script src="{% static "js/login.js" %}"></script>

    <script src="{% static "js/app.js" %}"></script>
  </body>
</html>
