<div ng-controller="ToolbarController" class="floating-toolbar">
    <md-button aria-label="menu" class="md-fab md-primary" ng-click="refresh()">
        <md-icon aria-label="Menu" md-svg-icon="refresh-white"></md-icon>
    </md-button>
</div>
<!--
<div ng-controller="StartpageDeviceController">
    <md-content class="md-padding" layout="row" layout-align="space-between center" layout-wrap>
        <div flex flex-xs="100" flex-sm="50" flex-md="33" flex-lg="20" ng-repeat="device in devices">
            <div include="device-teaser.html"></div>
        </div>
    </md-content>
    <md-content class="md-padding" layout="row" layout-align="space-between center" layout-wrap>
        <div flex flex-xs="100" flex-sm="50" flex-md="33" flex-lg="20" ng-repeat="room in rooms">
            <div include="room-teaser.html"></div>
        </div>
    </md-content>
    <md-content class="md-padding" layout="row" layout-align="space-between center" layout-wrap>
        <div flex flex-xs="100" flex-sm="50" flex-md="33" flex-lg="20" ng-repeat="placement in placements">
            <div include="placement-teaser.html"></div>
        </div>
    </md-content>
</div>

<md-content class="md-padding" layout="row" layout-align="space-between center" layout-wrap ng-controller="StartpageDeviceGroupController">
    <div flex flex-xs="100" flex-sm="50" flex-md="33" flex-lg="20" ng-repeat="group in groups" ng-show="(group.show_only_when === 'always') || (group.show_only_when === group.state)">
        <div include="device-group-teaser.html"></div>
    </div>
</md-content>

<md-content class="md-padding" layout="row" layout-align="space-between center" layout-wrap ng-controller="StartpageSensorController">
    <div flex="20" flex-xs="100" flex-sm="50" flex-md="33" flex-lg="25" ng-repeat="sensor in sensors">
        <div include="sensor-teaser.html"></div>
    </div>
</md-content>

-->
<div layout="row" layout-align="center" ng-controller="StartpageForecastController">
    <md-card flex ng-show="grouped_forecasts">
        <md-card-content>
            <div layout="row" layout-align="center">
                <h4><a href="#/weather/">Väder</a></h4>
            </div>
            <div layout="row" layout-align="space-between left" layout-wrap>
                <div flex="12" flex-lg="20" flex-md="33" flex-sm="100" flex-xs="100" ng-repeat="(date_string, forecasts) in grouped_forecasts">
                    <!--
                    <div hide-gt-xs ng-show="forecast.valid_time">
                        <div ng-show="(forecast.valid_time|date:'d') != (forecasts[$index -1].valid_time|date:'d')">
                            <hr/>
                        </div>
                    </div>
                    <div hide-gt-xs ng-show="forecast.valid_time__min">
                        <div ng-show="(forecast.valid_time__min|date:'d') != (forecasts[$index -1].valid_time__min|date:'d')">
                            <hr/>
                        </div>
                    </div>
                    -->

                    <div layout="column" layout-xs="row" layout-padding layout-align="start center" layout-align-xs="space-around center">

                        <div>{{ date_string }}</div>
                        <div style="text-transform: capitalize">
                            {{ date_string | date : "EEEE" }}
                        </div>


                    </div>
                    <div ng-repeat="forecast in forecasts" include="forecast-teaser.html"></div>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>

